<header></header>
<main class="{{ bgColor }} px-4 py-14 sm:p-20">
  <div class="max-w-xl m-auto text-white">
    <div class="pb-10">
      <div class="h-[100px] w-[100px] rounded-full {{ circleColor }}"></div>
      <div class="pt-10 text-3xl font-bold {{ color }}">Tatsuhumi Katayama</div>
      <div class="pt-4 font-bold {{ color }}">
        I am a engineer based in Nagoya/Japan.
      </div>
    </div>
    <div class="flex justify-between">
      <div
        (mouseenter)="
          handleChangeColor('text-[#004B27]', 'bg-[#004B27]', 'bg-[#3AC24E]')
        "
        (mouseleave)="handleReset()"
      >
        パターン１
      </div>
      <div
        (mouseenter)="
          handleChangeColor('text-[#F8CC16]', 'bg-[#F8CC16]', 'bg-[#002D75]')
        "
        (mouseleave)="handleReset()"
      >
        パターン２
      </div>
      <div
        (mouseenter)="
          handleChangeColor('text-[#1AC7DA]', 'bg-[#1AC7DA]', 'bg-[#09345C]')
        "
        (mouseleave)="handleReset()"
      >
        パターン３
      </div>
    </div>
    <hr class="py-10" />
    <ul *ngFor="let title of titles">
      <app-title
        [title]="title.title"
        [description]="title.description"
        [url]="title.url"
        [color]="color"
        [routerLink]="title.routerLink"
      ></app-title>
    </ul>
  </div>
  <app-work></app-work>
</main>
<footer class="{{ bgColor }}">
  <hr />
  <div class="p-5 text-center {{ color }}">&copy;2022 katayama8000</div>
</footer>
