<header></header>
<main class="bg-black">
  <div class="max-w-xl m-auto text-white">
    <div class="pb-10">
      <div class="h-[100px] w-[100px] rounded-full bg-green-600"></div>
      <div class="pt-10 text-3xl font-bold text-white">Tatsuhumi Katayama</div>
      <div class="pt-4 font-bold">I am a engineer based in Nagoya/Japan.</div>
    </div>
    <hr class="py-10" />
    <ul>
      <li>About</li>
      <li>Note</li>
      <li>Qiita</li>
      <li>Zenn</li>
      <li>Works</li>
      <li>Git hub</li>
      <li>My Comunity</li>
      <li>Contact</li>
    </ul>
  </div>
</main>
<footer></footer>
